  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{
	box-sizing: border-box;
}

.mycontainer{
	width: 100%;
	max-width: 1240px;
	margin: 0 auto;
	padding-left: 2rem;
    padding-right: 2rem;
}

.service_spacer{
    padding: 12rem 0px 0;
}

.product1 {
    width: 100%;
    /* float: left; */
}

.product1 .sec1 h4 {
    margin: 0;
    min-width: 0;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    line-height: 1.55;
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--theme-ui-colors-alpha,#066af2);
}
.product1 .sec1 h1 {
    margin: 0;
    min-width: 0;
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    line-height: 1.55;
    display: block;
    -webkit-text-decoration: none;
    text-decoration: none;
    margin-bottom: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: var(--theme-ui-colors-omegaDarker,#2d3748);
    font-size: 3rem;
}
.product1 .sec1 p {
	box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    color: var(--theme-ui-colors-omegaDark,#718096);
    text-align: center;
    font-family: 'Poppins',sans-serif;
}
.row {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
.colm6 {
    width: 50%;
    margin: 0 1em 1.5em 1em;
}
.colm4 {
	width: 33%;
}
.colm3 {
	width:25%;
}
img{
	/* max-width: 100%; */
}

.product1 .sect {
	margin-top: 1em;
	margin-bottom: 1em;
}

.product1 .sect h4, .discrptn h4, .sec2 h4  {
    font-family: 'Poppins',sans-serif;
    font-weight: bold;
    line-height: 1.55;
    display: block;
    color: var(--theme-ui-colors-alpha,#1F299B);
    -webkit-text-decoration: none;
    text-decoration: none;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  
}
.product1 .sect ul.liststyle li {
    color: var(--theme-ui-colors-omegaDark,#718096);
    line-height: 2;
    list-style-type: square;
    font-family: 'Poppins',sans-serif;
}
.discrptn {
    width: 100%;
    float: left;
    background-color: #f7f7f7;
    box-shadow: 0px 17px 33px #e5e5e5;
    padding: 1.5em;
    margin: 2em 0;
    text-align: center;
}
.discrptn p{
	color: var(--theme-ui-colors-omegaDark,#718096);
	line-height: 2;
    font-family: 'Poppins',sans-serif;
}
.sec2 {
    width: 100%;
    background-color: #f1f4fa;
    margin-top: 3em;
}.sec2 p {
	color: var(--theme-ui-colors-omegaDark,#718096);
	font-size: 15px;
	line-height: 2;
    font-family: 'Poppins',sans-serif;
}
.sec2 .colm4 {
    padding: 1em 2em;
    background-color: #fff;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: -3em;
    border-radius: 1em;
    box-shadow: 0 0 35px rgba(140,152,164,.125);
    transition: 0.4s ease-in-out;
}
.sec2 .colm4:hover {
    transform: translateY(-25px);
  	box-shadow: 0px 30px 30px 2px #ccc;
}


@media only screen and (max-width: 1024px) {
	.sec2 p {
		line-height: 20px;
		font-size: 14px;
	}
}
@media only screen and (max-width: 768px) {	
	.row {
		flex-wrap: wrap;
	}
	.colm6 {
	    width: 100%;
	}
	.colm4 {
	    width: 100%;
	    margin-bottom: 1em;
	}
	.sec2 .colm4 {
	    margin-top: 1em;
	}
	.sec2 .colm4:hover {
	    transform: translateY(0px);
	}
	.product1 .sec1 h1 {
	    font-size: 2rem;
	}
	.product1 .sec1 p {
	    font-size: 1rem;
	}

}
@media only screen and (max-width: 425px) {
	.product1 .sec1 h1 {
	    font-size: 1.3rem;
	}
	.product1 .sec1 h4 {
		font-size: 1.2rem;
	}
	.product1 .sec1 p {
	    font-size: 0.8rem;
	}
	.product1 .sect h4, .discrptn h4, .sec2 h4 {
	    font-size: 1.1rem;
	}
	.discrptn p, .product1 .sect ul.liststyle li {
	    font-size: 14px;
	}
	.sec2 p {
	    line-height: 2;
	    font-size: 13px;
	}

}








body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1296px;
    padding: 0;
    margin: 0 auto;
}
.testimonial_slider{
    padding: 72px 0;
}
.testimonial_slider .item {
    
    padding: 15px;
}
.col_wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col_wrap .col-_gap{
    width: 50%;
}
.testimonial_slider .item .ctnt{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.38);
    border-radius: 12px;
    padding: 32px;
    position: relative;
}
.testimonial_slider .item .ctnt .right_ctnt{
    width: calc(100% - 200px);
}
.testimonial_slider .item .ctnt .right_ctnt h4{
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 5px;
}
.testimonial_slider .item .ctnt .right_ctnt h6{
    font-size: 21px;
    font-weight: 600;
    margin: 0 0 10px;
    color: #2d3748;
}
.testimonial_slider .item .ctnt .right_ctnt p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
}
.testimonial_slider .item .ctnt .right_ctnt ul{
    padding: 0;
    margin: 15px 0 0;
    list-style: none;
}
.testimonial_slider .item .ctnt .right_ctnt ul li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    font-size: 18px;
    color: #a855f7;
}
.testimonial_slider .item .ctnt .right_ctnt span{
    color: #edf2f7;
    font-size: 82px;
    position: absolute;
    right: 40px;
    bottom: -10px;
}
.testimonial_slider .item .ctnt figure{
    width: 200px;
    height: 230px;
    margin: 0;
    padding-right: 32px;
}
.testimonial_slider .item .ctnt figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.start_ctnt{
    margin-left: 5%;
}
.start_ctnt h2{
    font-size: 32px;
    font-weight: 700;
    color: #2d3748;
    margin: 0 0 20px;
}
.start_ctnt h2 span{
    color: #6366f1;
}
.start_ctnt p{
    font-size: 18px;
    font-weight: 400;
    color: #2d3748;
    line-height: 1.8;
    margin: 0 0 15px;
}
.payroll-btn{
    text-align: left;
}
.payroll-btn a{
    font-size: 42px;
    margin: 0 15px;
    color: #2d3748;
}
.testimonial_slider .slick-dots{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.testimonial_slider .slick-dots li{
    margin: 0 4px;
    display: inline-block;
    vertical-align: middle;
}
.testimonial_slider .slick-dots li button{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #2d3748;
    font-size: 0;
    padding: 0;
    border: 1px solid #2d3748;
    display: inline-block;
}
.testimonial_slider .slick-dots li.slick-active button{
    background-color: #6366f1;
    border-color: #6366f1;
}










.slider {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
  }
  
  .slider__slides {
    width: calc(100% * 3);
    display: flex;
    transition: transform 0.5s ease;
    transform: translateX(0);
    animation: loop 9s linear infinite;
  }
  
  .slider__slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  
  @keyframes loop {
    0% {
      transform: translateX(0);
    }
    33.333% {
      transform: translateX(-100%);
    }
    66.666% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0);
    }
  }
  